.about-me-container {
  display: flex;
  flex-direction: column;
  background: #e7dfd8;
  width: 100%;
  height: 88.5vh;
  text-align: center;
  background-color:#e7dfd8;
  padding-top: 5.3rem;
}

.about-me-container h1 {
  font-size: 2.5rem;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-container p {
  color: #050505;
  line-height: 1.5;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
  width: 70rem;
  padding-left: 13rem;
}

.about-me-container h2 {
  color: #050505;
  font-size: 2=5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 13rem;
}

.clickable-images {
  padding-left: 38.5rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 5rem;
}

.clickable-img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.clickable-img:hover {
  transform: scale(1.1);
}