.hero-container {
    display: flex;
    background: #e7dfd8;
    width: 100%;
    height: 88.5vh;
}

.hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    padding-top: 7rem;
    padding-left: 9.8rem;
    font-size: 80px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-text p {
    padding-left: 10rem;
    margin: 10px 0 0;
    color: #050505;
    line-height: 1.5;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-image {
    padding-bottom: 5rem;
    padding-right: 4rem;
}

.hero-image img {
    width: 560px;
    height: auto;
}
.Contacbtn{
    padding-left: 10rem;
}

.checkwork {
    width: 13rem;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    min-height: 3.75em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.checkwork:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
   
.checkwork:active {
    box-shadow: none;
    transform: translateY(0);
}

@media (max-width: 600px) {
    .hero-image {
        position: relative;
        right: 17rem;
        width: 8rem;
        height: 10rem;
    }

    .hero-image img {
        position: relative;
        top: 3rem;
        right: 0.5rem;
        width: 200px;
        height: 200px;
    }

    .hero-text {
        width: 88%;
        padding-top: 8rem;
        padding-left: 3.6rem;
    }
    
    .hero-text h1 {
        font-size: 30px;
        text-align: center;
        padding-left: 1rem;
    }

    .hero-text p {
        font-size: 20px;
        padding-left: 1rem;
        text-align: center;
    }

    .Contacbtn{
        position: relative;
        top: 0.1rem;
        right: 4.5rem;
    }
}