.Nav {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Nav-header {
  background-color: #e7dfd8;
  padding: 20px;
  color: white;
}

.navbar {
  background-color: #e7dfd8;
  padding: 10px;
  text-align: right;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  display: inline;
  margin-right: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
